<div style="position:relative;top:10px;left:20px", class="pages-container">
  <%= form_tag(search_page_path,id: "search_form", :class => "center-block", :method => "get") do %>
    <div class="input-group w-100 mx-50">
      <%= select_tag "event_ids", options_from_collection_for_select(Event.all, :id, :name), :prompt => 'Elige tipo de Evento', class: "form-control red-border pl-4" %>
      <%= select_tag "service_ids", options_from_collection_for_select(Service.all, :id, :name), :prompt => '¿Qué estás buscando', class: "form-control red-border pl-4" %>
      <%= select_tag "region_ids", options_from_collection_for_select(Region.all, :id, :name), :prompt => '¿Dónde?', class: "form-control red-border pl-4" %>
      <%= button_tag "Buscar", :class => 'btn btn-flat',:name => nil%>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="card-container">
    <% @providers.each do |provider| %>
      <div class="card-product">
        <div class="card-slider">
          <div class="card-images">
            <img src="https://images.unsplash.com/photo-1527529482837-4698179dc6ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80" alt="...">
          </div>
        </div>
        <div class="card-infos">
          <div class="card-content">
            <div class="card-infos-name">
              <h2><%= provider[:name] %></h2>
            </div>
            <div class="card-infos-description">
              <p><%= provider[:address] %></p>
            </div>
            <div class="card-rating">
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star checked"></span>
              <span class="fa fa-star"></span>
              <span class="fa fa-star"></span>
            </div>
            <div class="card-categories">
              <% provider.services.first(5).each do |service| %>
                <ul class="tags">
                  <li><a href="#" class="tag"><%= service.name %></a></li>
                </ul>
              <% end %>
            </div>
            <div class="card-infos-footer">
              <div class="card-price">
                <p>$<%= provider[:min_price] %> - $<%= provider[:max_price] %><span>/persona</span></p>
              </div>
              <% if policy(provider).show? %>
                <%= link_to 'Ver Más', provider, :class => 'btn btn-flat' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
