<div class="container">
  <%= simple_form_for @provider do |f| %>
    <div class="form-group ml-1 mb-5 px-5">
      <h2>Tu empresa</h2>
      <%= f.input :name, :label => "Nombre", class: 'form-control' %>
      <br>
      <%= f.input :address, :label => "Dirección" %>
      <br>
      <%= f.input :phone, :label => "Teléfono" %>
      <br>
      <%= f.input :description, as: :ckeditor, input_html: { ckeditor: { toolbar: 'mini' } } %>
      <br>
      <h2>¿A partir de qué precio se pueden contratar tus servicios?</h2>
      <%= f.input :min_price, as: :numeric %> - <%= f.input :max_price, as: :numeric %>
      <br>
      <h2>Agrega tus redes sociales</h2>
      <%= f.input :facebook %>
      <br>
      <%= f.input :instagram %>
      <br>
      <%= f.input :google %>
      <br>
      <h2> Para qué tipo de Eventos ofreces tus servicios?</h2>
      <%= f.collection_check_boxes :event_ids, Event.all, :id, :name %>
      <h2>Selecciona la Categoría de tu Servicio</h2>
      <%= f.collection_check_boxes :category_ids, Category.all, :id, :name %>
      <h2>Que servicios ofreces?</h2>
      <%= f.collection_check_boxes :service, Service.all, :id, :name %>
      <h2>En que Estados ofreces tu servicio?</h2>
      <%= f.collection_check_boxes :region_ids, Region.all, :id, :name %>
      <br>
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <%= link_to "Cancel", "/pages/home", class: "btn btn-light" %>
    </div>
  <% end %>
</div>
