<%= react_component("MultiStepForm") %>

<div class="pages-container">
  <%= simple_form_for @provider do |f| %>
    <div class="form-group ml-1 mb-5 px-5">
      <h2>Tu empresa</h2>
      <%= f.input :name, :label => "Nombre", class: 'form-control' %>
      <br>
      <%= f.input :address, :label => "Dirección", input_html: { id: 'address-input'} %>
      <br>
      <%= f.input :phone, :label => "Teléfono" %>
      <br>
      <%= f.input :description, as: :ckeditor, input_html: { ckeditor: { toolbar: 'mini' } } %>
      <br>
      <h2>¿A partir de qué precio se pueden contratar tus servicios?</h2>
      <%= f.input :min_price, as: :numeric %> - <%= f.input :max_price, as: :numeric %>
      <br>
      <h2>Agrega tus redes sociales</h2>
      <%= f.input :facebook %>
      <br>
      <%= f.input :instagram %>
      <br>
      <%= f.input :google %>
      <br>
      <h2> Para qué tipo de Eventos ofreces tus servicios?</h2>
      <div class="col-md-4 checkbox-list">
        <%= f.collection_check_boxes :event_ids, Event.all, :id, :name %>
      </div>
      <h2>Que servicios ofreces?</h2>
      <div class="col-md-4 checkbox-list">
        <%= f.input :service_ids, collection: Category.all, as: :grouped_select, group_method: :services, prompt: "Elige uno",  multiple: true %>
      </div>
      <h2>En que Estados ofreces tu servicio?</h2>
      <div class="col-md-4 checkbox-list">
        <%= f.collection_check_boxes :region_ids, Region.all, :id, :name %>
      </div>
      <br>
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <%= link_to "Cancel", "/pages/home", class: "btn btn-light" %>
      <% if policy(Provider).create? %>
       <%= link_to "New provider", providers_new_path %>
      <% end %>
    </div>
  <% end %>
</div>
