<div class="container">

  <h1><%= @provider.name %></h1>
  <h3><%= @provider.address %></h3>
  <h3><%= @provider.phone %></h3>


  <h2>Información sobre <%= @provider.name %></h2>
  <h3><%= @provider.description.html_safe %><h3>

  <p>Desde $<%= @provider.min_price %> hasta $<%=@provider.max_price %></p>

  <h2>Servicios </h2>
  <ul>
    <% @provider.services.each do |service| %>
    <li><%= service.name %></li>
    <% end %>
  </ul>
</div>
