<div class="container">

  <h1><%= @provider.name %></h1>
  <h3><%= @provider.description %></h3>
  <h3><%= @provider.address %></h3>
  <h3><%= @provider.phone %></h3>
  <h2>$<%= @provider.min_price %> - <%=@provider.max_price %>/person</h2>
  <h2><%= @provider.events.size %></h2>
  <h2><%= @provider.categories.size %></h2>
  <h2><%= @provider.services.size %></h2>
  <h2><%= @provider.regions.size %></h2>

</div>
