<div class="container">
  <%= simple_form_for(@provider_events, html: { Pmultipart: true }) do |f| %>
    <div class="form-group ml-1 mb-5 px-5">
      <h2>Tus Eventos</h2>
      <%= f.association :provider_id, label_method: :provider_id %>
      <%= f.association :event, :label => "Para qué tipo de Eventos ofreces tus servicios?", :as => :check_boxes %>
      <%= f.submit "Submit", class: "btn btn-primary" %>
      <%= link_to "Cancel", "/pages/home", class: "btn btn-light" %>
    </div>
  <% end %>
</div>
